.footer {
    text-align: center;
    display: flex;
    margin-right: 358px;
    margin-left: 351px;
    margin-bottom: 52px;
    margin-top: 35.22px;
}

.title {
    font-size: 16.6531px;
    line-height: 20px;
    margin-bottom: 17px;

}

.paragraph {
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 13px;
    color: #73738D;
}