.footer {
    width: 300px;
    height: 51px;
    left: 351px;
    top: 1840px;
    margin: 0 auto;
    margin-bottom: 50px;
    align-items: center;
}

.footer__title {
    text-align: center;
    font-size: 16.6531px;
    line-height: 20px;
    margin-bottom: 17px;
}

.footer__paragraph {
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 13px;
}

@media screen and (max-width: 768px) {
    .footer {
        justify-content: center;
        top: 10px;
        width: 290px;
        margin-left: 250px;
    }
}