
.main_div {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 40px;
    width: 1300px;
    height: 600px;

}


.create_shoe_div {
    margin-bottom: 25px;
}

.create_shoe_div:hover {
    background-color: rgb(117, 23, 240);
}

.left_block {
    margin-bottom: 50px;
    border: 1px solid black;
    padding: 20px;
    width: 200x;
    height: 435px;
    background-color: rgb(51, 193, 38);
}

.create_shoe {
    margin-bottom: 50px;
    background-color: rgb(221, 221, 14);
}

.button {
    border-radius: 8px;
    background: rgb(221, 221, 14);
    width: 80px;
    height: 30px;
}

.card_image {
    width: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

li {
    border: 1px solid black;
    background-color: rgb(225, 33, 171);
    padding: 8px;
    flex: 0 0 24%;
    margin-left: 40px;
    margin-bottom: 40px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.right_block {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(50, 218, 221);
    padding: 20px;
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    height: 520px;
}

.title {
    text-align: center;
    display: flex;
    justify-content: center;
}

.operations {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.right_block_div {
    display: flex;
    justify-content: center;
}

.card_name {
    text-align: center;
}

.create_shoe_div {
    border: 1px solid black;
    background-color: rgb(221, 221, 14);
    height: fit-content;
    width: 175px;
    padding: 18px;
}

.create_shoe_div a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
}

.create_div {
    margin-top: 25px;
    margin-bottom: 15px;
}

.main_div_2 {
    border: 1px solid black;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 420px;
    margin-bottom: 20px;
    height: 550px;
}

.button {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
}

.create_button {
    width: 150px;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 10px;
    border: 1px solid black;
    background-color: rgb(221, 221, 14);
}

.create_button p {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.cancel_button {
    margin-bottom: 20px;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.card_edit_button {
    margin-right: 12px;
    background-color: rgb(221, 221, 14);
}

#sort_by_size_asc_button:hover {
    background-color: rgb(117, 23, 240);
}

#sort_by_size_desc_button:hover {
    background-color: rgb(117, 23, 240);
}

#search_button:hover {
    background-color: rgb(117, 23, 240); 
}

#cancel_search_button:hover {
    background-color: rgb(117, 23, 240); 
}
